allure-pytest==2.8.29
allure-python-commons==2.8.29
Appium-Python-Client==1.0.2
asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.1.0
blinker==1.4
Brotli==1.0.9
certifi==2020.11.8
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.3
cryptography==3.2.1
Flask==1.1.2
h11==0.11.0
h2==4.0.0
hpack==4.0.0
hyperframe==6.0.0
idna==2.10
importlib-metadata==1.7.0
iniconfig==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
kaitaistruct==0.9
ldap3==2.8.1
MarkupSafe==1.1.1
mitmproxy==5.3.0
more-itertools==8.5.0
msgpack==1.0.0
packaging==20.4
passlib==1.7.4
pluggy==0.13.1
protobuf==3.13.0
publicsuffix2==2.20191221
py==1.9.0
pyasn1==0.4.8
pycparser==2.20
pydivert==2.1.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.1
pytest==6.0.1
pytest-testconfig==0.2.0
PyYAML==5.3.1
requests==2.25.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
selenium==3.141.0
six==1.15.0
sortedcontainers==2.2.2
toml==0.10.1
tornado==6.1
urllib3==1.25.10
urwid==2.1.2
Werkzeug==1.0.1
wsproto==0.15.0
zipp==3.1.0
zstandard==0.14.0
